body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: #f1f1f6;
  line-height: 2;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin: auto;
  font-weight: normal;
  line-height: 2;
}

h2 {
  font-size: 3rem;
  color: #f1f1f6;
}

h3 {
  font-size: 2rem;
}

.bottom-cloud {
  position: absolute;
  right: 750px;
}

.top-cloud {
  position: relative;
  left: 170px;
}

.top-container {
  background-color: #464159;
  position: relative;
  padding-top: 50px;
}

/*hr {
  border: dotted #6c7b95 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}*/

.middle-container {
  background-color: #464159;
}

.image {
  width: 30%;
  border-radius: 15px;
  background: #f1f1f6;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.logo {
  width: 25%;
}

.image {
  width: 15%;
}

.WebDevImg {
  width: 30%;
  border-radius: 15px;
  background: #f1f1f6;
  padding: 20px;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

.JavaImg {
  width: 30%;
  border-radius: 15px;
  background: #f1f1f6;
  padding: 20px;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

.skill-row {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 50px;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #f1f1f6;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #383e56;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-bottom: 20px;
}

.btn:hover {
  background: linear-gradient(to bottom, #6c7b95 15%, #6c7b95 100%);
  background-color: #ffffff;
}

.btn:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #6c7b95;
  padding: 50px 0 50px;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 10px 20px;
  color: #363636;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  font-size: 0.80rem;
  margin-top: 40px
}
